HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Exclure les fichiers de configuration sensibles
application.properties
application.yml
.env

# Exclure les fichiers de logs
*.log
logs/
log/

# Exclure les fichiers et dossiers générés par Maven
.mvn/
target/
build/

# Exclure les fichiers spécifiques à Docker (si applicable)
docker-compose.override.yml

